﻿@model List<UserViewModel>


<div class="card card-plain">
    @if (Model.Count == 0)
    {

        <div class="card-header card-header-primary">
            <h4 class="card-title">There are no users here. :(</h4>
            <p class="card-category">Perhaps you should stop mining that Ethereum, find some friends and invite them here.</p>
        </div>
    }
    else
    {
        <div class="card-header card-header-primary">
            <h4 class="card-title">Users</h4>
            <p class="card-category">Currently this site has @Model.Count @(Model.Count == 1 ? "user" : "users").</p>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class="text-primary">
                        <tr>
                            <th>Name</th>
                            <th>E-mail</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (UserViewModel entry in Model)
                        {
                            <tr>
                                <td>
                                    @entry.Name
                                </td>
                                <td>
                                    @entry.Email
                                </td>
                                <td>
                                    <a asp-area="Admin" asp-controller="Users" asp-action="Delete" asp-route-id="@entry.Id" class="btn btn-danger btn-block">DELETE</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>