﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        @ViewData["Title"] - FindStar
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <link href="~/css/bootstrap.min.css" rel="stylesheet" runat="server" />
    <link href="~/css/now-ui-kit.min.css" rel="stylesheet" runat="server" />
    <link href="~/css/style.css" rel="stylesheet" runat="server" />
</head>
<body class="sidebar-collapse">
    <nav id="navbar" class="navbar navbar-expand-lg bg-primary">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FindStar</a>
                <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar top-bar"></span>
                    <span class="navbar-toggler-bar middle-bar"></span>
                    <span class="navbar-toggler-bar bottom-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    </li>
                    <partial name="_LoginPartial">
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()
    @if (!Context.Request.Path.Value.Contains("/Map"))
    {
        <div class="wrapper">
            <footer class="footer" data-background-color="black">
                <div class="container">
                    <div class="copyright" id="copyright">
                        &copy;
                        <script>
                            document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
                        </script> &ndash; FindStar
                    </div>
                </div>
            </footer>
        </div>
    }
    <script src="~/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="~/js/core/popper.min.js" type="text/javascript"></script>
    <script src="~/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/js/plugins/bootstrap-switch.js"></script>
    <script src="~/js/plugins/nouislider.min.js" type="text/javascript"></script>
    <script src="~/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="~/js/now-ui-kit.js?v=1.2.0" type="text/javascript"></script>

    @if (Context.Request.Path.Value == "/" || Context.Request.Path.Value.Contains("Register") || Context.Request.Path.Value.Contains("Login"))
    {
        <script>
            $("#navbar").addClass("fixed-top").addClass("navbar-transparent");
        </script>
    }
    @RenderSection("Scripts", required: false)
</body>
</html>