@using Microsoft.AspNetCore.Identity
@using ProjectFindStar.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    var userTask = UserManager.GetUserAsync(User);
}

@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="nav-link"><i class="now-ui-icons ui-1_settings-gear-63"></i> Admin Dashboard</a>
        </li>
    }

    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="form-inline">
        <li class="nav-item">
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="nav-link"><i class="now-ui-icons users_circle-08"></i>Hello, @(User.IsInRole("Admin") ? "Admin" : (await userTask).PersonalName)!</a>
        </li>
        <li class="nav-item">
            <a onclick="document.getElementById('logoutForm').submit()" class="nav-link" id="logoutBtn"><i class="now-ui-icons arrows-1_share-66"></i>Logout</a>
        </li>
    </form>
}
else
{
    <li class="nav-item"><a asp-area="Identity" asp-page="/Account/Register" class="nav-link"><i class="now-ui-icons ui-1_simple-add"></i>Register</a></li>
    <li class="nav-item"><a asp-area="Identity" asp-page="/Account/Login" class="nav-link"><i class="now-ui-icons objects_key-25"></i>Login</a></li>
}