﻿@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<main>
    <h2>@ViewData["Title"]</h2>
    <h4>Associate your @Model.LoginProvider account.</h4>
    <hr />

    <p class="text-info">
        You've successfully authenticated with <strong>@Model.LoginProvider</strong>.
        Please enter an email address and your full name for this site below and click the Register button to finish
        logging in.
    </p>

    <div class="row">
        <div class="col-md-4">
            <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Full Name</label>
                    <input asp-for="Input.FullName" class="form-control" />
                    <span asp-validation-for="Input.FullName" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-default">Register</button>
            </form>
        </div>
    </div>
</main>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

