﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="page-header clear-filter">
    <div class="page-header-image" style="background: linear-gradient(rgba(255, 106, 0, 0.9), rgba(0, 0, 0, 0.0)), url(/img/login.jpg)"></div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-4 ml-auto mr-auto">
                    <div class="card card-login card-plain">
                        <div class="card-header text-center">
                            <h1 class="card-title text-center">@ViewData["Title"]</h1>
                            <h3 class="card-title text-center">Use a local account to log in.</h3>

                            <div class="social-line">
                                <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div>
                                        <p>
                                            @foreach (var provider in Model.ExternalLogins)
                                            {
                                                if (provider.DisplayName == "Google")
                                                {
                                                    <button type="submit" class="btn btn-neutral btn-google btn-icon btn-round" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fab fa-google"></i></button>
                                                }
                                                if (provider.DisplayName == "Twitter")
                                                {
                                                    <button type="submit" class="btn btn-neutral btn-twitter btn-icon btn-round" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fab fa-twitter"></i></button>
                                                }
                                                if (provider.DisplayName == "Facebook")
                                                {
                                                    <button type="submit" class="btn btn-neutral btn-facebook btn-icon btn-lg btn-round" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fab fa-facebook"></i></button>
                                                }
                                            }
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div class="card-body">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="input-group no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="now-ui-icons ui-1_email-85"></i>
                                        </span>
                                    </div>
                                    <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                                </div>
                                <div class="input-group no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="now-ui-icons objects_key-25"></i>
                                        </span>
                                    </div>
                                    <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                                </div>
                                <div class="form-check">
                                    <label asp-for="Input.RememberMe" class="form-check-label">
                                        <input asp-for="Input.RememberMe" class="form-check-input" />
                                        <span class="form-check-sign"></span>
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">Login</button>
                                <div class="pull-left">
                                    <h6>
                                        <a asp-page="./ForgotPassword" class="link">Forgot your password?</a>
                                    </h6>
                                </div>
                                <div class="pull-right">
                                    <h6>
                                        <a asp-area="Identity" asp-controller="Account" asp-action="Register" class="link">Create account</a>
                                    </h6>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    document.getElementsByTagName("body")[0].classList.add("login-page")
</script>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
