﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="page-header clear-filter">
    <div class="page-header-image" style="background: linear-gradient(rgba(255, 106, 0, 0.9), rgba(0, 0, 0, 0.0)), url(/img/register.jpg)"></div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-4 ml-auto mr-auto">
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div class="card card-login card-plain">
                            <div class="card-header text-center">
                                <h1 class="card-title text-center">@ViewData["Title"]</h1>
                                <h3 class="card-title text-center">Create a new account.</h3>
                            </div>
                            <div class="card-body">

                                <div asp-validation-summary="All" class="text-danger"></div>

                                <div class="input-group no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="now-ui-icons users_circle-08"></i>
                                        </span>
                                    </div>
                                    <input asp-for="Input.PersonalName" class="form-control" placeholder="Full Name" />
                                </div>
                                <div class="input-group no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="now-ui-icons ui-1_email-85"></i>
                                        </span>
                                    </div>
                                    <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                                </div>
                                <div class="input-group no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="now-ui-icons objects_key-25"></i>
                                        </span>
                                    </div>
                                    <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                                </div>
                                <div class="input-group no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="now-ui-icons text_caps-small"></i>
                                        </span>
                                    </div>
                                    <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">Register</button>
                                <div class="pull-left">
                                    <h6>
                                        <a asp-area="Identity" asp-controller="Account" asp-action="Login" class="link">Already have an account?</a>
                                    </h6>   
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    document.getElementsByTagName("body")[0].classList.add("login-page")
</script>