﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.page-header h3 {
    margin-top: 20px !important;
}

.hidden {
    display: none;
}

.navbar {
    margin: 0;
}

#logoutBtn {
    display: block;
}
#logoutBtn:hover {
    cursor: pointer;
}

main {
    margin: 5%;
}

#map {
    width: 100%;
    height: 500px;
    position: relative;
}

.scrollable {
    height: 100px !important;
    overflow-y: scroll;
}