﻿@{
    ViewData["Title"] = "Home";
}

<div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image" style="background-image: url(/img/header.jpg);">
    </div>
    <div class="container">
        <div class="content-center brand">
            <img class="n-logo" src="~/img/logo-transparent.png" alt="">
            <h3>The best of Airbnb and Bing Maps combined into one universal and expansible app.</h3>
            <div class="row">
                <div class="col-md-4 ml-auto mr-auto">
                    <a asp-controller="Map" asp-action="Index" class="btn btn-primary btn-round btn-lg btn-block">Take me to the map</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementsByTagName("body")[0].classList.add("index-page")
</script>