﻿@{
    ViewData["Title"] = "Map";
}

<div id="map" onload="GetMap();"></div>

<script src="~/js/core/jquery.min.js" type="text/javascript"></script>
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap'></script>
<script>
    $(window).ready(updateHeight);
    $(window).resize(updateHeight);

    function updateHeight() {
        let div = $('#map');
        let windowHeight = $(window).height() - $('.navbar').outerHeight();
        div.css('height', (windowHeight));
    }

    let map, layer, infobox, hasHiddenPushpins;
    let lastZoomLevel;
    function GetMap() {
        lastZoomLevel = 0;
        map = new Microsoft.Maps.Map("#map", {
            credentials: 'Am5afgSCyhqzmhLzj4F572rp7DR-5ELUqMkYajN_lP7Q9KVMMSUMl-DrBQSHfkoz',
            disableBirdseye: true,
            enableClickableLogo: false,
            showMapTypeSelector: false,
            showTermsLink: false
        });

        layer = new Microsoft.Maps.Layer();

        let coords = new Microsoft.Maps.Location(42.668763, 23.271013);
        let html =
            `<div class="card">` +
            `    <a href="javascript:infoBox.setOptions({visible: false})" style="text-align: right;"><i class="now-ui-icons ui-1_simple-remove"></i> Close</a>` +
            `    <div class="card-body">` +
            `        <h5 class="card-title">Kaya</h5>` +
            `        <h6 class="card-subtitle mb-2 text-muted">Restaurant</h6>` +
            `        <hr />` +
            `        <p class="card-text"><strong>Address:</strong> Pirin Str. 12</p>` +
            `        <p class="card-text"><strong>Work time:</strong> 9:00 - 22:00</p>` +
            `        <p class="card-text"><strong>Menu:</strong></p>` +
            `        <ul class="list-group list-group-flush">` +
            `            <li class="list-group-item"><strong>Beer</strong> 1.80лв.</li>` +
            `            <li class="list-group-item"><strong>Shopska salad</strong> 3.70лв.</li>` +
            `            <li class="list-group-item"><strong>Chef's special</strong> 10.90лв.</li>` +
            `        </ul>` +
            `    <br />` +
            `    <a href="#" class="btn btn-primary">Order table</a>` +
            `    </div>` +
            `</div>`;
        let pin = new Microsoft.Maps.Pushpin(coords, {
            title: 'Restaurant',
            subTitle: 'Kaya'
        });

        infoBox = new Microsoft.Maps.Infobox(coords, {
            title: "Kaya",
            htmlContent: html,
            visible: false
        })

        infoBox.setMap(map);

        layer.add(pin);

        map.layers.insert(layer);

        Microsoft.Maps.Events.addHandler(map, "viewchangeend", viewChanged);
        Microsoft.Maps.Events.addHandler(pin, "click", pushpinClicked);
        
    };

    function pushpinClicked(e) {
        infoBox.setOptions({
            location: e.target.getLocation(),
            offset: new Microsoft.Maps.Point(-40, -250),
            visible: true
        });
    }

    function viewChanged(e) {
        let pushpins = layer.getPrimitives();
        if (lastZoomLevel !== map.getZoom()) {
            lastZoomLevel = map.getZoom();
            if (lastZoomLevel < 11) {
                if (!hasHiddenPushpins) {
                    for (let i = 0; i < pushpins.length; i++) {
                        let pin = pushpins[i];
                        pin.setOptions({ visible: false });
                    }
                    hasHiddenPushpins = true;
                }
            }
            else {
                if (hasHiddenPushpins) {
                    for (let i = 0; i < pushpins.length; i++) {
                        let pin = pushpins[i];
                        pin.setOptions({ visible: true });
                    }
                    hasHiddenPushpins = false;
                }
            }
        }
    }
</script>